{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {% static 'tailwind-all.min.css' %}">
    <title>Chat App | Django</title>
</head>
<body>

    <nav class="bg-black h-32 text-white flex justify-center items-center rounded-b-lg">
       <h1 class="text-3xl font-semibold">Django Chat App | Room -> {{room.name}}</h1>
    </nav>


    <div class="h-screen bg-gray-300 p-10 rounded-lg">
        
        <div class="h-full w-10/12 md:w-8/12 bg-white rounded-lg mx-auto overflow-y-auto" style="height: 70%;" id="messagecontainer">
            
            
            {% for message in room_messages %}
                
            <div class="you p-4 pt-2 bg-indigo-600 rounded-br-lg my-2 mx-3 rounded-tl-lg rounded-bl-lg">
                <div class="flex justify-between mb-2">
                <small class="font-bold text-white">{{message.user.username}}</small> <small class="text-white">{{ message.date|naturaltime}}</small></div>
                <p class="text-white">{{message.message}}</p>
            </div>
            {% endfor %}
           
        </div>

        <div >
            <form action="" method="POST" class="flex w-10/12 md:w-8/12 m-auto mt-10" >
                {% csrf_token %}
                <input type="text" placeholder="Type something..." id="messageinput" class="h-16 block w-full rounded-b-lg flex-1 px-5" />
                <input type="submit" id="sendbtn"  class=" rounded-b-lg px-10 font-semibold text-white bg-gray-800" >
            </form>

        </div>
    </div>

    {{room.slug|json_script:"json-chatstuff"}}
    {{request.user.username|json_script:"json-username"}}


    <script>
        const roomid = JSON.parse(document.getElementById('json-chatstuff').textContent)
        const username = JSON.parse(document.getElementById('json-username').textContent)

       
        const chatSocket = new WebSocket(
            'ws://'+ window.location.host + '/ws/' + roomid +'/'
        )

        chatSocket.onopen =function(e){
            console.log('Socket opened')
        }

        chatSocket.onmessage = function(e){
            if(e.data){
                var data = JSON.parse(e.data)
                const msgcontainer = document.getElementById('messagecontainer')

                var div = document.createElement('div')
                div.className = 'you p-4 pt-2 bg-indigo-600 rounded-br-lg my-2 mx-3 rounded-tl-lg rounded-bl-lg'

                var date = new Date()
                var formated_date = `${date.getDate() + ' / '+ date.getMonth() +' / '+ date.getFullYear()} `

                var body = `
                <div class="flex justify-between mb-2">
                <small class="font-bold text-white">${data.username} </small> <small class="text-white"> now </small></div>
                <p class="text-white">${data.messagebody}</p>`
                
                div.innerHTML = body

                msgcontainer.appendChild(div)

                document.getElementById('messagecontainer').scrollTop =  document.getElementById('messagecontainer').scrollHeight

            }else{
                console.log('Sorry, data cant be returned.')
            }

        }
        chatSocket.onclose = function(e) {
            console.log('Socket closed')
        }

        document.getElementById('sendbtn').onclick = function(e){
            e.preventDefault()
            
            var msgtosend = document.getElementById('messageinput').value
            chatSocket.send(JSON.stringify({
                'messagebody': msgtosend,
                'username': username,
                'roomid': roomid
            })  )

            document.getElementById('messageinput').value = ''
        }


        document.getElementById('messagecontainer').scrollTop =  document.getElementById('messagecontainer').scrollHeight


    </script>
</body>
</html>